{% extends 'app/main/base.html' %}
{% load static %}

{% block title %} WebEnter. {% endblock title %}


{% block content %}


    {% include 'app/inpage/slider.html' %}

{#    {% include 'app/inpage/booking.html' %}#}


    {% include 'app/inpage/welcome.html' %}

    {% include 'app/inpage/mainfeatures.html' %}

    {% include 'app/inpage/rooms.html' %}

    {% include 'app/inpage/statistics.html' %}


{#    {% include 'app/inpage/testimonial.html' %}#}


    {% include 'app/inpage/blog.html' %}

    {% include 'app/inpage/instagram.html' %}


{% endblock content %}