{% load static %}
<section class="ftco-section ftc-no-pb ftc-no-pt">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'app/images/qarshi_hotel.jpg' %}); ">
{#						<a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">#}
{#							<span class="icon-play"></span>#}
{#						</a>#}
					</div>
					<div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
	          <div class="heading-section heading-section-wo-line pt-md-5 pl-md-5 mb-5">
	          	<div class="ml-md-0">
		          	<span class="subheading">Welcome to Deluxe Hotel</span>
		            <h2 class="mb-4">Welcome To Our Hotel</h2>
	            </div>
	          </div>
	          <div class="pb-md-5">
							<p>The city of Karshi has a special place in Uzbek history. First, Karshi is the first major Turkic-speaking city in Movarounnahr. At that time, the Turkish language was dominant in Khorezm (Urganch), Fergana (Andijan), Shosh oasis (Tashkent), and several large cities along the banks of the Syrdarya, but there was no such city in Movarounnahr. With the construction of Karshi, different people settled here, but Turkish became the dominant language in the city. At that time, Mongols themselves already spoke Turkic language.



                                                            <p>In the center of the Kashkadarya oasis, on the banks of the Kashkadarya, at the intersection of the international railway and highway. The area is 7.5 thousand hectares. The population is 283,200 people. Karshi is one of the ancient cities of Uzbekistan</p>
							<p>In particular, Arab traveler Ibn Battuta noted that Kebak Khan's native language was Turkish. During the period of the Chigatai dynasty, and then the Timurids, the Turkish language served as the official language of correspondence.</p></p>
							<ul class="ftco-social d-flex">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
						</div>
					</div>
				</div>
			</div>
		</section>